.nav {
    padding: 14px 0 14px 26px;
    color: #fff;
    background-color: #f7b731;
    width: 100%;
    top: 0;
    left: 0;
}

.title {
    font-size: 22px;
}


.login {
    display: block;
    right: 6px;
    top: 0;
    color: #fff;
    width: 80px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
